html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(182, 197, 206);
}
section {
  overflow-y: scroll;
}


tr {
  border-width: 2px;
  border-color: black;
  
}

table {
  border-collapse:collapse;
  overflow: scroll;
}

h3 {
  text-align: center;
}

img {
  height: 40px;
  width: 45px;
  border-width: 2px;
  border: solid;
  border-color: black;
  
}

input{
  width: 100%;
  height: 100%;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent
}

a:hover {
  color: #0056b3;
  text-decoration: underline
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none
}


#countriesSearch1 {
  background-color: white; 
  margin: auto;
}

td {
  height: 10px;
}


#countryHolidays {
  background-color: aliceblue;
}